

/* .models_list{
    list-style: none;
    margin-left: 20px;
    margin-right: 10px;
    color: white;
    position: sticky;
    top:0%;
} */
.navbar{
    background:linear-gradient(to bottom,black,white);
}


.about-section {
  margin-left: 100px;
  margin-right: 100px;
  text-align: start; 
}


@media (max-width: 768px) {
  .about-section {
    margin-left: 20px;
    margin-right: 20px;
  }
}


